.table-column {
  padding: 5px 10px;
  font-size: 12px;
}
.table-header {
  padding: 5px 10px;
  font-size: 24px;
  font-weight: bold;
  background-color: greenyellow !important;
  border: 3px;
  border-color: black;  
}

.table-row {
  font-size: 12px;
}