// body
$color-body-bg: $color-white;

// button default
$color-button-default-normal-line: $color-gray-50;
$color-button-default-normal-text: $color-gray-100;
$color-button-default-normal-bg: $color-white;

$color-button-default-focus-line: $color-gray-50;
$color-button-default-focus-text: $color-gray-100;
$color-button-default-focus-bg: $color-gray-25;

$color-button-default-press-line: $color-black-100;
$color-button-default-press-text: $color-white;
$color-button-default-press-bg: $color-black-100;

$color-button-default-disabled-line: $color-gray-50;
$color-button-default-disabled-text: $color-gray-75;
$color-button-default-disabled-bg: $color-gray-25;

// button point
$color-button-point-normal-line: $color-point-60;
$color-button-point-normal-text: $color-point-100;
$color-button-point-normal-bg: $color-white;

$color-button-point-focus-line: $color-point-100;
$color-button-point-focus-text: $color-white;
$color-button-point-focus-bg: $color-point-100;

$color-button-point-press-line: $color-point-dark;
$color-button-point-press-text: $color-white;
$color-button-point-press-bg: $color-point-dark;

$color-button-point-disabled-line: $color-gray-50;
$color-button-point-disabled-text: $color-gray-75;
$color-button-point-disabled-bg: $color-gray-25;

// text field
$color-text-field-normal-line: $color-gray-25;
$color-text-field-normal-text: $color-black-100;
$color-text-field-normal-bg: $color-white;

$color-text-field-focus-line: $color-point-60;
$color-text-field-focus-text: $color-black-100;
$color-text-field-focus-bg: $color-white;

$color-text-field-disabled-line: $color-gray-12;
$color-text-field-disabled-text: $color-gray-75;
$color-text-field-disabled-bg: $color-gray-7;

// loading
$color-loading: $color-point-100;

// screen mask
$color-screen-mask-bg: $color-black-100-alpha-70;

// header
$color-header-bg: $color-white;
$color-header-line: $color-gray-33;
